/*variables*/
:root{
  --box-border-color: black;
  --box-border-radius: 20px;
  --box-border-width: 3px;
  --box-fill: white;
}

html{
  min-height: 100%;
}

body{
  background: linear-gradient(0deg, rgba(34,91,195,1) 41%, rgba(0,242,121,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.app-heading{
  text-align:center;
  color: white;
  font-family: 'Itim', cursive;
}

.app-note{
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 16px;
}

.display-container{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

textarea{
  width: 400px;
  height: 100px;
  background-color: var(--box-fill);
  font-size: 16px;
  border-style: solid;
  border-color: var(--box-border-color);
  border-width: var(--box-border-width);
  padding: 5px;
  border-radius: var(--box-border-radius);
}

.buttons-wrapper{
  margin-top: 10px;
  text-align: center;
}

.button{
  color: black;
  background-color: var(--box-fill);
  border-color: var(--box-border-color);
}

.output-wrapper{
  width: 600px;
  min-height: 100px;
  background-color: var(--box-fill);
  color: black;
  font-size: 16px;
  border: solid;
  border-color: var(--box-border-color);
  border-width: var(--box-border-width);
  padding: 5px;
  border-radius: var(--box-border-radius);
}

.output-without-content{
  margin: 5px;
  color: lightgray;
}

.output-with-content{
  margin: 5px;
  color: black;
}

.meaning_paragraph{
  color: rgb(109, 109, 109);
  font-family: monospace;
}

.footer-wrapper{
  margin-top: 60px;
}

.copyright-wrapper{
  color: white;
  text-align: center;
  font-weight: bold;
}